body {
    font-family: 'Arial', sans-serif;
    background-color: #87CEEB;  /* Light Blue Sky color */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.search-box {
    margin-bottom: 30px;
}

.search-box input {
    width: 80%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.search-box button {
    padding: 12px 20px;
    background-color: #7d6ff9;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.weather-box h2 {
    font-size: 2.5em;
    color: #333;
}

.weather-box h3 {
    font-size: 1.2em;
    color: #555;
    margin: 0;
}

.temp-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.temp-section img {
    width: 70px;
    margin-right: 10px;
}

.temp-section h3 {
    font-size: 3em;
    color: #333;
}

#humidity {
    margin-top: 15px;
    color: #999;
    font-weight: bold;
}

footer {
    margin-top: 20px;
    font-size: 0.9em;
    color: #777;
}

footer a {
    color: #7d6ff9;
    text-decoration: none;
}